<form class="form-material m-t-40" [formGroup]="form">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Alimentos Naturales de Trigo Germinado S.A. de C.V.</h4>
                        <div class="row">
                            <div class="col-md-8">

                                <mat-form-field>
                                    <input type="text" [readOnly]="poliza" (click)="cargardatos()" placeholder="Banco:" matInput formControlName="bank" (focus)="filterBank()" [matAutocomplete]="auto1">
                                    <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayBankFn">
                                        <mat-option *ngFor="let option of filteredBankOptions | async" [value]="option">
                                            {{option.nameBank}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input type="number" matInput formControlName="reference" placeholder="No de Cheque o Referencia">
                                    </mat-form-field>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">-</div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="card-subtitle">fecha de emision</label>
                                    <input type="date" [readOnly]="poliza" class="form-control form-control-line" formControlName="date" placeholder="Fecha de expedicion">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="card-subtitle">fecha de operacion</label>
                                    <input type="date" [readOnly]="poliza" class="form-control form-control-line" formControlName="dateOperation" placeholder="Fecha de expedicion">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">

                                    <mat-form-field class="input-full-width">
                                        <input type="text" [readOnly]="poliza" (click)="loadSupplier()" placeholder="Extendido a Nombre de" matInput formControlName="suppliers" (focus)="filterSupplier()" [matAutocomplete]="supplier">
                                        <mat-autocomplete #supplier="matAutocomplete" [displayWith]="displaySupplierFn">
                                            <mat-option *ngFor="let suppliers of filteredSupplierOptions | async" [value]="suppliers">
                                                {{ suppliers.nameSupplier }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" [readOnly]="poliza" formControlName="checkAmount" class="form-control form-control-line" aria-label="Amount (to the nearest dollar)">

                                    </div>
                                    <div *ngIf="form.controls['checkAmount'].errors?.pattern" class="form-control-feedback">
                                        <small class="text text-danger">formato: moneda con dos decimales </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <mat-form-field class="input-full-width">
                                <input type="text" [readOnly]="poliza" matInput formControlName="description" placeholder="Descripcion">
                            </mat-form-field>
                        </div>
                        <div class="row">

                            <div class="col-md-8">Generar Poliza</div>


                            <div class="col-md-2">
                                <button (click)="addPolizaAutom()" [disabled]="poliza" type="button" class="btn btn-outline-info">Automatica </button>
                            </div>
                            <div class="col-md-2">
                                <button (click)="addPolizaManual()" [hidden]="polizaAutomatic" [disabled]="poliza" type="button" class="btn btn-outline-warning">Manual </button>
                            </div>



                        </div>

                        <span class="label label-info">Banco : {{banks.nameBank}} | {{banks.accountNumber}} | No.Cheque 00322555 </span>
                        <!-- <h6 class="card-subtitle">Banco : {{banks.name}} | {{banks.account}} | No.Cheque 00322555 </h6> -->
                    </div>
                </div>

                <!-- Poliza -->

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
                                <div class="ribbon-wrapper card bg-light-extra">
                                    <div class="ribbon ribbon-bookmark ribbon-default">Poliza</div>
                                    <p class="ribbon-content"></p>
                                </div>
                            </div>
                            <!-- <form class="form-material m-t-40" [formGroup]="form"> -->
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label><h2>Conceptos</h2></label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="card-body">
                                <!-- <h4 class="card-title">Basic Table</h4>
                                <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
                                <div class="table-responsive">

                                </div>
                            </div>
                            <table class="table-hover table-bordered" formArrayName="accountingItems" cellspacing="10">
                                <thead>
                                    <tr>
                                        <th>
                                            <p class="font-bold">Cuenta</p>
                                        </th>
                                        <th>
                                            <p class="font-bold">Concepto</p>
                                        </th>
                                        <th>
                                            <p class="font-bold">Debito</p>
                                        </th>
                                        <th>
                                            <p class="font-bold">Credito</p>
                                        </th>
                                        <th>
                                            <p class="font-bold">Acciones</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tr *ngFor="let item of addItemArr.controls; let i=index;" [formGroupName]="i">

                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input type="text" (click)="loadAccount()" class="font-size" (select)="calculate()" placeholder="Cuenta" (focus)="filterAcc()" size="60px" aria-label="Assignee" matInput formControlName="account" [matAutocomplete]="auto" required>
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAccFn">
                                                <mat-option (onclick)="calculate()" *ngFor="let acc of filteredAccOptions | async" [value]="acc">
                                                    {{ acc.nameAccount }}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </td>

                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-line" placeholder="Concepto" size="60px" aria-label="Assignee" formControlName="concept">
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" [readOnly]="poliza" class="form-control form-control-line" placeholder="Debito" size="60px" aria-label="Assignee" formControlName="debit" required="required"> </div>

                                    </td>

                                    <td>
                                        <div class="form-group">
                                            <input type="number" [readOnly]="poliza" class="form-control form-control-line" placeholder="Credito" size="60px" aria-label="Assignee" formControlName="credit">
                                        </div>

                                    </td>
                                    <td class="text-nowrap" [hidden]="polizaAutomatic">
                                        <a (click)="addItem()" class data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                        <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                    </td>

                                    <!-- Select Product -->

                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>{{totalDebit | currency}}</td>
                                    <td>{{totalCredit | currency}}</td>

                                </tr>
                                <div *ngIf="totalCredit < totalDebit || totalCredit > totalDebit">
                                    <label class="text text-danger">diferencia en cuentas de {{totalCredit - totalDebit | currency}}</label>
                                </div>

                            </table>


                        </div>

                        <div class="row">


                        </div>
                        <h6 class="card-subtitle">Clabe 729|000049051913 | No.Cheque 00322555 </h6>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label [hidden]="form.valid" class="text-danger">Llene todos los campos para poder enviar</label>
                <label [hidden]="!form.valid" class="text-info">La forma esta lista para enviar</label>
            </div>
            <div class="form-group col-md-2">
                <button (click)="cleanForm()" [disabled]="!form.valid" class="btn btn-outline-warning">Cancelar</button>
            </div>
            <div class="form-group col-md-2">
                <button (click)="save()" [hidden]="!update" [disabled]="!form.valid" class="btn btn-primary">Enviar</button>
                <button [hidden]="update" [disabled]="!form.valid" class="btn btn-warning">Actualizar</button>

            </div>
        </div>
    </div>
</form>