<div class="container">
    <div class="row col-md-6">

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre del Banco</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre del Banco">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Numero de la Cuenta</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="Numero de la Cuenta">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email de contacto</label>
                    <input type="email" class="form-control" id="email" placeholder="Email de contacto">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Telefono de contacto</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="Telefono de contacto">
                </div>
            </div>

            <div class="form-group">
                <label for="inputAddress">Direccion </label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Direccion, Ciudad, cp">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Observaciones</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Fecha de apertura, cuenta de cheques, cuenta de inversion ">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>