<div class="col-12 m-t-40">
    <h4 class="card-title">Bookmarked ribbons</h4>
    <h6 class="card-subtitle m-b-20">Add class: <code>.ribbon-bookmark</code> right after the <code>.ribbon</code> class. </h6>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-bookmark  ribbon-default">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
            <div class="ribbon-wrapper-reverse card">
                <div class="ribbon ribbon-bookmark ribbon-right ribbon-danger">Ribbon</div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
            <div class="ribbon-vwrapper p-b-40 p-t-30 card">
                <div class="ribbon ribbon-bookmark ribbon-vertical-l ribbon-info"><i class="fa fa-heart"></i></div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
            <div class="ribbon-wrapper-reverse card">
                <div class="ribbon ribbon-bookmark ribbon-vertical-r ribbon-success"><i class="fa fa-heart"></i></div>
                <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
            </div>
        </div>
    </div>
</div>